@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Inter', sans-serif;
}

@plugin "daisyui/theme" {
  name: "uofg";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: oklch(98% 0.02 240);
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: oklch(0.23 0.114 263.415);
  --color-primary-content: oklch(98% 0.01 240);
  --color-secondary: oklch(0.374 0.147 297.483);
  --color-secondary-content: oklch(98% 0.01 200);
  --color-accent: oklch(0.477 0.196 352.492);
  --color-accent-content: oklch(98% 0.01 160);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(0.44 0.132 252.027);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(0.44 0.101 129.584);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(0.869 0.14 94.094);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(0.403 0.125 9.851);
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

/* See, https://github.com/saadeghi/daisyui/issues/4503 */
@plugin "daisyui" {
    themes: "*", "uofg";
}

.vue3-easy-data-table {
    background-color: var(--color-base-200) !important;
    --easy-table-header-background-color: var(--color-base-300);
    --easy-table-header-font-color: var(--color-primary);

    --easy-table-body-row-background-color: var(--color-base-100);
    --easy-table-body-row-font-color: var(--color-base-content);

    --easy-table-body-even-row-background-color: var(--color-base-200);
    --easy-table-body-even-row-font-color: var(--color-base-content);

    --easy-table-footer-background-color: var(--color-base-300);
    --easy-table-footer-font-color: var(--color-primary-content);
}

.vue3-easy-data-table__main {
    overflow: visible !important;
}

.vue3-easy-data-table table {
    @apply border rounded-md shadow-sm;
    border-color: var(--color-base-300);
}
