@import "tailwindcss" prefix(tw) important;
@plugin "daisyui" {
    themes: nord  --default;
}

body {
  background-color: #f5f5f5;
  color: #111111;
}

/* form legends are huge in Bootstrap */
legend {
    font-size: inherit;
}

/* VueAwesomePaginate stuffs */
.pagination-container {
    @apply tw:flex;
}

.paginate-buttons {
    @apply tw:btn
}

.active-page {
    @apply tw:btn-accent
}